# Generated/Cache file
input/
output/
cache/
*.epub
*.json


# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual/Conda environment
/env/

# IDE files
.vscode/

# Compiled files
*.pyc
*.pyo

# Dependency directories
venv/
env/

# Editor and OS-specific files
.DS_Store
Thumbs.db

# For Testing
server.py
test.py

# Local env
.env

# model file
*.gguf
*.ggml
*.safetensors

